# Descriptive Stats

#### Vorgaben

- Komplette Beschreibung ihres Datensatzes:
    - inklusive qualitativer und quantitativer Beschreibung der Variablen
    - allfälliger Zusammenhänge zwischen Variablenpaaren.
(Was bereits im Readme dokumentiert ist, muss nicht kopiert werden.)

#### Abgabe

**06. Dezember 2021**.

#### Quantitative Beschreibung von Variablen¶
- Lage
- Streuung
- Form
- Grafische Darstellung

#### Zusammenhang von Variablen¶
Qualitative Variabeln: Kreuztabellen
Quantitative Variabeln: Scatter-Plots, Korrelationskoeffizienten

In [1]:
import pandas as pd
import fetch_data as m

data_f = m.load_flights()
data_a = m.load_airports()

In [2]:
df_f = pd.DataFrame(data_f)
df_f.head()

  callsign origin destination                        day
0   UAE323   OMDB        OMDB  2021-09-01 00:00:00+00:00
1    UNDEF   KUES        KNKX  2021-09-01 00:00:00+00:00
2   ETH724   KJFK        LOWW  2021-09-01 00:00:00+00:00
3  ACI140S   RJAA        YSSY  2021-09-01 00:00:00+00:00
4   KAL541   PANC        LOWW  2021-09-01 00:00:00+00:00

In [3]:
df_a = pd.DataFrame(data_a)
df_a.head()

,ident,name,latitude,longitude
0,00A,Total Rf Heliport,-74.93360137939453,40.07080078125
1,00AA,Aero B Ranch Airport,-101.473911,38.704022
2,00AK,Lowell Field,-151.695999146,59.94919968
3,00AL,Epps Airpark,-86.77030181884766,34.86479949951172
4,00AR,Newport Hospital & Clinic Heliport,-91.254898,35.6087