# Descriptive Stats

#### Vorgaben

- Komplette Beschreibung ihres Datensatzes:
    - inklusive qualitativer und quantitativer Beschreibung der Variablen
    - allfälliger Zusammenhänge zwischen Variablenpaaren.
(Was bereits im Readme dokumentiert ist, muss nicht kopiert werden.)

#### Abgabe

**06. Dezember 2021**.

### Einleitung
Die qualitative und quantitative Beschreibung unserer Variablen behandeln wir in folgender Reihenfolge:
- 




#### Quantitative Beschreibung von Variablen¶
- Lage
- Streuung
- Form
- Grafische Darstellung

#### Zusammenhang von Variablen¶
Qualitative Variabeln: Kreuztabellen
Quantitative Variabeln: Scatter-Plots, Korrelationskoeffizienten

In [1]:
# Daten laden
import pandas as pd
import fetch_data as m

df_f = m.load_flights()
df_a = m.load_airports()

# Kategoriesche Variablen

####

In [2]:
df_f.head()

  callsign origin destination        day
0   CCA583   KLAX        EDDF 2021-05-01
1  VCV3770   LYBE        UUWW 2021-05-01
2  UTN4490   UKBB        UKBB 2021-05-01
3   CCA627   ZGSZ        EDDF 2021-05-01
4   CES553   RJBB        LFPG 2021-05-01

In [3]:
df_a.head()

,ident,type,name,latitude,longitude
0,00A,heliport,Total Rf Heliport,-74.933601,40.070801
1,00AA,small_airport,Aero B Ranch Airport,-101.473911,38.704022
2,00AK,small_airport,Lowell Field,-151.695999,59.949200
3,00AL,small_airport,Epps Airpark,-86.770302,34.864799
4,00AR,closed,Newport Hospital & Clinic Heliport,-91.254898,35.608700

In [4]:
df_f.dtypes

callsign               object
origin                 object
destination            object
day            datetime64[ns]
dtype: object

In [5]:
df_a.dtypes

ident         object
type          object
name          object
latitude     float64
longitude    float64
dtype: object